# Ignore CSV data files
*.csv
*.json
!GroundTruth_UTC_naive.csv
!90min_day1_grouped_attacks.csv
!.cursorignore
!attack_group_color_mapping.json
!attack_group_mapping.json
!color_mapping.json
!event_type_mapping.json
!flag_colors.json
!flow_colors.json
!full_ip_map.json
!set1_first90_minutes.csv


# Ignore hidden files (dotfiles) but keep this file
.*
._*
!.gitignore
